@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #23252c;
  font-family: 'Inter', sans-serif;
}

#root {
  margin: 25px auto;
  width: 317px;
  background-color: #1a1b21;
  border-radius: 15px;
}

.mainImage {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.info--section {
  text-align: center;
}

.info--section > h1 {
  color: white;
  margin: 0;
  padding: 10px 0 0 0;
  font-weight: 600;
}

.frontend--dev {
  color: #f3bf99;
  margin: 0;
}

.website {
  color: #f5f5f5;
  font-size: 0.9em;
  font-weight: 200;
}

.email--linkedin {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  list-style: none;
  padding-inline-start: 0;
  width: 80%;
  margin: 0 auto;
}

.email--linkedin > li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: 0;
  width: 115px;
  height: 35px;
  border-radius: 6px;
}

.email--btn {
  background-color: #f5f5f5;
  margin: 0;
}

.linkedin--btn {
  background-color: #5093e2;
  margin: 0;
  color: white;
}

.email--btn > p,
.linkedin--btn > p {
  margin: 0;
}

.email--btn > img,
.linkedin--btn > img {
  margin: 0;
  height: 16px;
}

.linkedin--btn {
  display: flex;
}

.about--section {
  padding: 0 10%;
  color: #f5f5f5;
}

.interest--section {
  padding: 0 10% 30px 10%;
  color: #f5f5f5;
} 

.about--section > h2,
.interest--section > h2 {
  margin: 35px 0 0 0;
  font-size: 16px;
  text-align: left;
}

.about--section > p,
.interest--section > p {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  margin: 5px 0 0 0;
}

footer {
  background-color: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 19px;
  padding-bottom: 19px;
}
